UPDATE DANHMUCVATTU SET CREATEDATE='1/1/2011' WHERE NHOMVT='XDCB'
UPDATE DANHMUCVATTU SET CREATEDATE='12/12/2011' WHERE NHOMVT !='XDCB'
GO


DROP TABLE CHITIETBOVATTAOSAN 
GO

CREATE TABLE CHITIETBOVATTAOSAN
(
	STT INT IDENTITY (1,1) PRIMARY KEY,
	MAHIEU VARCHAR(20),
	TENVT NVARCHAR(250), 
	DVT NVARCHAR(20),
	NHOM NVARCHAR(20),
	LOAISN VARCHAR(20),
	KHOILUONG FLOAT, 
	CHON BIT,
	MABOVT VARCHAR(250),
	CREATEBY VARCHAR(50),
	CREATEDATE DATETIME,
	MODIFYBY VARCHAR(20),
	MODIFYDATE DATETIME,
	CONSTRAINT FR_VTTS FOREIGN KEY (MABOVT) REFERENCES BOVATTAOSAN(MABOVT)
)
GO

DROP TABLE BOVATTAOSAN 
GO

CREATE TABLE BOVATTAOSAN
(
	MABOVT VARCHAR(250) PRIMARY KEY NOT NULL,
	TENBOVT NVARCHAR(MAX),
	CREATEBY VARCHAR(50),
	CREATEDATE DATETIME,
	MODIFYBY VARCHAR(20),
	MODIFYDATE DATETIME
)
GO

DROP TABLE BGDC_CONGTACBANGIA 
GO

CREATE TABLE BGDC_CONGTACBANGIA
(
	STT INT IDENTITY (1,1) PRIMARY KEY,
	LAN INT,
	SHS VARCHAR(50),
	MAHIEU VARCHAR(20),
	MAHDG VARCHAR(20),
	TENVT NVARCHAR(250), 
	DVT NVARCHAR(20),
	NHOM NVARCHAR(20),
	LOAISN VARCHAR(20),
	KHOILUONG FLOAT,
	SUDUNGLAI FLOAT,
	CAPMOI FLOAT,
	THUHOI FLOAT,
	DONGIAVL FLOAT,
	DONGIANC FLOAT,
	DONGIAMTC FLOAT,
	GHICHU NVARCHAR(250),
	CREATEBY VARCHAR(50),
	CREATEDATE DATETIME,
	MODIFYBY VARCHAR(20),
	MODIFYDATE DATETIME,
	CONSTRAINT FR_CTBGDC_SHS FOREIGN KEY (SHS) REFERENCES DON_KHACHHANG(SHS),
	CONSTRAINT FR_CTBGDC_VT FOREIGN KEY (MAHIEU) REFERENCES DANHMUCVATTU(MAHIEU)	
)
GO

DROP TABLE BGDC_KHOILUONGXDCB 
GO

CREATE TABLE BGDC_KHOILUONGXDCB
(
	STT INT IDENTITY(1,1) PRIMARY KEY,
	LAN INT,
	LOAIDC NVARCHAR(200),
	TRONGAIDC NVARCHAR(MAX),
	SODOVIEN NVARCHAR(200),
	NGAYDONGTIEN DATETIME,
	DCTIENTLK FLOAT,
	DCTIENTLMD FLOAT,
	DCTIENTONGCONG FLOAT,
	SHS VARCHAR(50) NOT NULL,
	CATNHUA FLOAT,
	BOCNHUA FLOAT,
	CATBTXM FLOAT,
	BOCBTXM FLOAT,
	DATCAP4 FLOAT,
	DATCAP3 FLOAT,
	CAT		FLOAT,
	DA04	FLOAT,
	XUCDAT	FLOAT,
	CPVATTU	FLOAT,
	CPNHANCONG FLOAT,
	CPMAYTHICONG FLOAT,
	CPCABA	FLOAT,
	CHIPHITRUCTIEP FLOAT,
	CHIPHICHUNG FLOAT,	
	TAILAPMATDUONG FLOAT,
	TLMDTRUOCTHUE FLOAT,
	CPGAN FLOAT DEFAULT 0,
	CPNHUA FLOAT DEFAULT 0,
	CONG1 FLOAT,
	THUE55 FLOAT,
	CONG3 FLOAT,
	THUEGTGT FLOAT,
	TONGIATRI FLOAT,
	GHICHU NVARCHAR(250),
	PHICABA BIT DEFAULT 0,
	PHIGIAMSAT BIT DEFAULT 1,
	PHIQUANLY BIT DEFAULT 1,
	KHTUTAILAP BIT,
	CREATEBY VARCHAR(50),
	CREATEDATE DATETIME,
	MODIFYBY VARCHAR(20),
	MODIFYDATE DATETIME,
	CONSTRAINT FR_KLXDVBDC_SHS FOREIGN KEY (SHS) REFERENCES DON_KHACHHANG(SHS)
)
GO

DROP TABLE BGDC_KICHTHUOCPHUIDAO 
GO

CREATE TABLE BGDC_KICHTHUOCPHUIDAO
(
	STT INT IDENTITY(1,1) PRIMARY KEY,
	LAN INT,
	SHS VARCHAR(50) NOT NULL,
	MADANHMUC VARCHAR(20) NOT NULL,
	TENKETCAU NVARCHAR(MAX),
	DVT NVARCHAR(20),
	DAI FLOAT,
	RONG FLOAT,
	DOSAU FLOAT,
	SOLUONG FLOAT,
	KHOILUONG FLOAT,
	CHUVI FLOAT,
	THETICH FLOAT,
	COTINHTL BIT,
	GHICHU NVARCHAR(250),
	CREATEBY VARCHAR(50),
	CREATEDATE DATETIME,
	MODIFYBY VARCHAR(20),
	MODIFYDATE DATETIME,
	CONSTRAINT FR_KTPDDC_SHS FOREIGN KEY (SHS) REFERENCES DON_KHACHHANG(SHS),
	CONSTRAINT FR_KTPDDC_VT FOREIGN KEY (MADANHMUC) REFERENCES DANHMUCTAILAPMATDUONG(MADANHMUC)	
)
GO
 


/* TAI LAP MAT DUONG */
DROP VIEW BGDC_CHITIETBG
GO

CREATE VIEW BGDC_CHITIETBG
AS
	SELECT SHS,LAN,MAHIEU,MAHDG,TENVT,DVT,NHOM,LOAISN,KHOILUONG,SUDUNGLAI,CAPMOI,THUHOI,DONGIAVL,DONGIANC,DONGIAMTC,(KHOILUONG*DONGIAVL) AS 'TT_VL', (KHOILUONG*DONGIANC) AS 'TT_NC', (KHOILUONG*DONGIAMTC) AS 'TT_MTC',CASE WHEN NHOM='XDCB' THEN N'A' WHEN NHOM='Gang' THEN N'B'  ELSE N'C'  END as 'NHOMVT'
	FROM BGDC_CONGTACBANGIA 
GO


SELECT * FROM BGDC_CHITIETBG WHERE SHS='11000024' AND LAN='2'

DROP VIEW BGDC_TAILAPMATDUONG
GO

CREATE VIEW BGDC_TAILAPMATDUONG
AS
	SELECT phui.SHS, phui.MADANHMUC,phui.TENKETCAU, SUM(KHOILUONG) AS 'KHOILUONG',dg.DONGIA as 'DONGIA', SUM(KHOILUONG)*dg.DONGIA as 'THANHTIEN',phui.LAN
	FROM BGDC_KICHTHUOCPHUIDAO phui,DONGIATAILAPMATDUONG dg
	WHERE phui.MADANHMUC=dg.MADANHMUC AND CHON='True' AND phui.MADANHMUC <>'TNHA'
	GROUP BY  phui.SHS, phui.MADANHMUC,phui.TENKETCAU,dg.DONGIA,phui.LAN
GO

DROP VIEW BGDC_SUMTAILAPMATDUONG
GO

CREATE VIEW BGDC_SUMTAILAPMATDUONG
AS
	SELECT SHS,LAN,SUM(THANHTIEN) as 'SAUTHUE',(SUM(THANHTIEN)/(1+hs.VAT/100)) AS 'TRUOCTHUE',(SUM(THANHTIEN)*hs.VAT)/(100+hs.VAT) AS 'THUEGTGT'
	FROM BGDC_TAILAPMATDUONG, BG_HESOBANGGIA hs
	GROUP BY SHS,hs.VAT,LAN
GO


DROP PROCEDURE DELETEDATABG_DC
GO

CREATE PROCEDURE DELETEDATABG_DC
	@SHS VARCHAR(50),
	@LAN INT
AS
	DELETE FROM BGDC_CONGTACBANGIA WHERE SHS=@SHS AND LAN=@LAN
	DELETE FROM BGDC_KHOILUONGXDCB WHERE SHS=@SHS AND LAN=@LAN
	DELETE FROM BGDC_KICHTHUOCPHUIDAO WHERE SHS=@SHS AND LAN=@LAN
GO

DROP PROCEDURE TONGKETCHIPHI_DC
GO

CREATE PROCEDURE TONGKETCHIPHI_DC
	@SHS VARCHAR(50),
	@LAN INT,
	@PHIC3 BIT,
	@PHIGS BIT,
	@PHIQL BIT,
	@A FLOAT OUTPUT,
	@B FLOAT OUTPUT,
	@C FLOAT OUTPUT,
	@CPCABA FLOAT OUTPUT,	
	@TOTAL FLOAT OUTPUT,
	@VAT FLOAT OUTPUT,
	@B1 FLOAT OUTPUT,
	@C1 FLOAT OUTPUT,
	@C2 FLOAT OUTPUT,
	@D FLOAT OUTPUT,
	@E	FLOAT OUTPUT,
	@F FLOAT OUTPUT,
	@G FLOAT OUTPUT,
	@H FLOAT OUTPUT,
	@I FLOAT OUTPUT,
	@J FLOAT OUTPUT,
	@K FLOAT OUTPUT,
	@L FLOAT OUTPUT,
	@TAILAPMATDUONG FLOAT OUTPUT,
	@TLMDTRUOCTHUE FLOAT OUTPUT,
	@CPGAN FLOAT OUTPUT,
	@CPNHUA FLOAT OUTPUT
AS
	DECLARE @NC FLOAT
	DECLARE @MTC FLOAT
	DECLARE @CA3 FLOAT
	DECLARE @PHIKHAC FLOAT
	DECLARE @PHICHUNG FLOAT
	DECLARE @TRUOCTHUE FLOAT
	DECLARE @PHIKSTK FLOAT
	DECLARE @HSKSTK FLOAT
	DECLARE @PHIGIAMSAT FLOAT
	DECLARE @CHIPHIQL FLOAT
	DECLARE @THUEVAT FLOAT
	SELECT @NC=NC,@MTC=MTC,@CA3=CABA/100,@PHIKHAC=PHIKHAC/100,@PHICHUNG=PHICHUNG/100,@TRUOCTHUE=TRUOCTHUE/100, @PHIKSTK=PHIKSTK/100,@HSKSTK=HSKSTK
			,@PHIGIAMSAT=PHIGIAMSAT/100,@CHIPHIQL=CHIPHIQL/100,@THUEVAT=VAT/100 FROM BG_HESOBANGGIA WHERE CHON='True'
	SELECT @A= SUM(KHOILUONG*DONGIAVL) FROM BGDC_CONGTACBANGIA WHERE LOAISN = 'CM' AND SHS=@SHS AND LAN=@LAN
	SELECT @B= SUM(KHOILUONG*DONGIANC) FROM BGDC_CONGTACBANGIA WHERE LOAISN <> 'CMTH' AND SHS=@SHS AND LAN=@LAN
	SELECT @C= SUM(KHOILUONG*DONGIAMTC) FROM BGDC_CONGTACBANGIA WHERE LOAISN <> 'CMTH' AND SHS=@SHS AND LAN=@LAN
	SELECT @CPGAN= SUM(KHOILUONG*DONGIAVL) FROM BGDC_CONGTACBANGIA WHERE NHOM=N'Gang' AND SHS=@SHS AND LAN=@LAN
	SELECT @CPNHUA= SUM(KHOILUONG*DONGIAVL) FROM BGDC_CONGTACBANGIA WHERE NHOM=N'Nhựa' AND SHS=@SHS AND LAN=@LAN
	SELECT @TAILAPMATDUONG = SUM(THANHTIEN) FROM BGDC_TAILAPMATDUONG WHERE SHS=@SHS AND LAN=@LAN
	SELECT @TLMDTRUOCTHUE = (SUM(THANHTIEN)/(1+@THUEVAT/100))FROM BGDC_TAILAPMATDUONG WHERE SHS=@SHS AND LAN=@LAN
	SET @B1= @B*@NC
	SET @C1= @C*@MTC
	IF @CA3=1 		
		SET @CPCABA= @CA3*@B1
	ELSE
		SET @CPCABA=0 
	
	SET @C2= @PHIKHAC*(@A+@B1+@C1+@CPCABA)
	SET @D= @A + @B1 + @C1 + @C2
	SET @E= @PHICHUNG*@D
	SET @F= @D+@E
	SET @G= @TRUOCTHUE*@F
	SET @H= @F+@G
	SET @I= @PHIKSTK*@HSKSTK*@H
	
	IF @PHIGS=1 		
		SET @J= @PHIGIAMSAT*@H
	ELSE
		SET @J=0 

	IF @PHIQL=1 		
		SET @K= @CHIPHIQL*@H
	ELSE
		SET @K=0 
	
	SET @L= @H+@J+@I+@K
	SET @VAT= @THUEVAT*@L
	SET @TOTAL= @L+@VAT

GO