USE TANHOA_WATER
GO

/* TONG KET KINH PHI*/
DROP PROCEDURE DELETEDATABG
GO

CREATE PROCEDURE DELETEDATABG
	@SHS VARCHAR(50)
AS
	DELETE FROM BG_CONGTACBANGIA WHERE SHS=@SHS
	DELETE FROM BG_KHOILUONGXDCB WHERE SHS=@SHS
	DELETE FROM BG_KICHTHUOCPHUIDAO WHERE SHS=@SHS
GO

DROP PROCEDURE TONGKETCHIPHI
GO

CREATE PROCEDURE TONGKETCHIPHI
	@SHS VARCHAR(50),
	@PHIC3 BIT,
	@PHIGS BIT,
	@PHIQL BIT,
	@A FLOAT OUTPUT,
	@B FLOAT OUTPUT,
	@C FLOAT OUTPUT,
	@CPCABA FLOAT OUTPUT,	
	@TOTAL FLOAT OUTPUT,
	@VAT FLOAT OUTPUT,
	@B1 FLOAT OUTPUT,
	@C1 FLOAT OUTPUT,
	@C2 FLOAT OUTPUT,
	@D FLOAT OUTPUT,
	@E	FLOAT OUTPUT,
	@F FLOAT OUTPUT,
	@G FLOAT OUTPUT,
	@H FLOAT OUTPUT,
	@I FLOAT OUTPUT,
	@J FLOAT OUTPUT,
	@K FLOAT OUTPUT,
	@L FLOAT OUTPUT
AS
	DECLARE @NC FLOAT
	DECLARE @MTC FLOAT
	DECLARE @CA3 FLOAT
	DECLARE @PHIKHAC FLOAT
	DECLARE @PHICHUNG FLOAT
	DECLARE @TRUOCTHUE FLOAT
	DECLARE @PHIKSTK FLOAT
	DECLARE @HSKSTK FLOAT
	DECLARE @PHIGIAMSAT FLOAT
	DECLARE @CHIPHIQL FLOAT
	DECLARE @THUEVAT FLOAT
	SELECT @NC=NC,@MTC=MTC,@CA3=CABA/100,@PHIKHAC=PHIKHAC/100,@PHICHUNG=PHICHUNG/100,@TRUOCTHUE=TRUOCTHUE/100, @PHIKSTK=PHIKSTK/100,@HSKSTK=HSKSTK
			,@PHIGIAMSAT=PHIGIAMSAT/100,@CHIPHIQL=CHIPHIQL/100,@THUEVAT=VAT/100 FROM BG_HESOBANGGIA WHERE CHON='True'
	SELECT @A= SUM(KHOILUONG*DONGIAVL) FROM BG_CONGTACBANGIA WHERE LOAISN = 'CM' AND SHS=@SHS
	SELECT @B= SUM(KHOILUONG*DONGIANC) FROM BG_CONGTACBANGIA WHERE LOAISN <> 'CMTH' AND SHS=@SHS
	SELECT @C= SUM(KHOILUONG*DONGIAMTC) FROM BG_CONGTACBANGIA WHERE LOAISN <> 'CMTH' AND SHS=@SHS
	SET @B1= @B*@NC
	SET @C1= @C*@MTC
	IF @CA3=1 		
		SET @CPCABA= @CA3*@B1
	ELSE
		SET @CPCABA=0 
	
	SET @C2= @PHIKHAC*(@A+@B1+@C1+@CPCABA)
	SET @D= @A + @B1 + @C1 + @C2
	SET @E= @PHICHUNG*@D
	SET @F= @D+@E
	SET @G= @TRUOCTHUE*@F
	SET @H= @F+@G
	SET @I= @PHIKSTK*@HSKSTK*@H
	
	IF @PHIGS=1 		
		SET @J= @PHIGIAMSAT*@H
	ELSE
		SET @J=0 

	IF @PHIQL=1 		
		SET @K= @CHIPHIQL*@H
	ELSE
		SET @K=0 
	
	SET @L= @H+@J+@I+@K
	SET @VAT= @THUEVAT*@L
	SET @TOTAL= @L+@VAT

GO

/* TAI LAP MAT DUONG */
DROP VIEW BG_CHITIETBG
GO

CREATE VIEW BG_CHITIETBG
AS
	SELECT SHS,MAHIEU,MAHDG,TENVT,DVT,NHOM,LOAISN,KHOILUONG,DONGIAVL,DONGIANC,DONGIAMTC,(KHOILUONG*DONGIAVL) AS 'TT_VL', (KHOILUONG*DONGIANC) AS 'TT_NC', (KHOILUONG*DONGIAMTC) AS 'TT_MTC',CASE WHEN NHOM<>'XDCB' THEN N'B' ELSE N'A'  END as 'NHOMVT'
	FROM BG_CONGTACBANGIA 
GO

SELECT  distinct * from BG_CHITIETBG WHERE SHS='1100003'
ORDER BY NHOMVT DESC

DROP VIEW BG_TAILAPMATDUONG
GO

CREATE VIEW BG_TAILAPMATDUONG
AS
	SELECT phui.SHS, phui.MADANHMUC,phui.TENKETCAU, SUM(KHOILUONG) AS 'KHOILUONG',dg.DONGIA as 'DONGIA', SUM(KHOILUONG)*dg.DONGIA as 'THANHTIEN'
	FROM BG_KICHTHUOCPHUIDAO phui,DONGIATAILAPMATDUONG dg
	WHERE phui.MADANHMUC=dg.MADANHMUC AND CHON='True' AND phui.MADANHMUC <>'TNHA'
	GROUP BY  phui.SHS, phui.MADANHMUC,phui.TENKETCAU,dg.DONGIA
GO

DROP VIEW BG_THONGTINKHACHANG
GO

CREATE VIEW BG_THONGTINKHACHANG
AS
	SELECT kh.SHS, UPPER(kh.HOTEN) AS 'HOTEN',(kh.SONHA +' '+ kh.DUONG +N', Phường.'+p.TENPHUONG+N', Quận'+ q.TENQUAN ) as 'DIACHI', kh.DANHBO,kh.LOAIHOSO
	FROM  DON_KHACHHANG kh,QUAN q,PHUONG p, LOAI_KHACHHANG lkh, (SELECT MADOT,loai.TENLOAI FROM  DOT_NHAN_DON dot, LOAI_HOSO loai WHERE loai.MALOAI = dot.LOAIDON ) as result
	WHERE  kh.QUAN = q.MAQUAN AND q.MAQUAN=p.MAQUAN AND kh.PHUONG=p.MAPHUONG AND lkh.MALOAI=kh.LOAIKH AND  kh.MADOT=result.MADOT 
GO


DROP VIEW BG_SUMTAILAPMATDUONG
GO

CREATE VIEW BG_SUMTAILAPMATDUONG
AS
	SELECT SHS,SUM(THANHTIEN) as 'SAUTHUE',(SUM(THANHTIEN)/(1+hs.VAT/100)) AS 'TRUOCTHUE',(SUM(THANHTIEN)*hs.VAT)/(100+hs.VAT) AS 'THUEGTGT'
	FROM BG_TAILAPMATDUONG, BG_HESOBANGGIA hs
	GROUP BY SHS,hs.VAT
GO

DROP VIEW W_HS
GO

CREATE VIEW W_HS
AS
	SELECT  NC, CONVERT(varchar(20),MTC)as'MTC' ,CONVERT(varchar(20),CABA)+'%'as'CABA' , CONVERT(varchar(20),PHIKHAC)+'%'as'PHIKHAC', 
			CONVERT(varchar(20),PHICHUNG)+'%'as'PHICHUNG',CONVERT(varchar(20),TRUOCTHUE)+'%'as'TRUOCTHUE' ,CONVERT(varchar(20),PHIKSTK)+'%'as'PHIKSTK' ,
			CONVERT(varchar(20),HSKSTK)as'HSKSTK' ,CONVERT(varchar(20),PHIGIAMSAT)+'%'as'PHIGIAMSAT' ,
			CONVERT(varchar(20),CHIPHIQL)+'%'as'CHIPHIQL',CONVERT(varchar(20),VAT)+'%'as'VAT' , CONVERT(varchar(20),HSSDL)as'HSSDL', CONVERT(varchar(20),HSTH)as'HSTH', CHON,
			 CREATEBY, CREATEDATE, MODIFYBY, MODIFYDATE
	FROM BG_HESOBANGGIA
