<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
      <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TanHoaWater.Lib.app" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="TanHoaWater.Lib.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>    
  <connectionStrings>
    <add name="TanHoaWater.Properties.Settings.TANHOA_WATERConnectionString"
      connectionString="Data Source=.;Initial Catalog=TANHOA_WATER;Persist Security Info=True;User ID=sa;Password=123@tanhoa"
      providerName="System.Data.SqlClient" />
    <add name="TanHoaWater.Properties.Settings.CAPNUOCTANHOAConnectionString"
      connectionString="Data Source=192.168.90.8\KD;Initial Catalog=CAPNUOCTANHOA;Persist Security Info=True;User ID=sa;Password=123@tanhoa"
      providerName="System.Data.SqlClient" />
    <add name="TanHoaWater.Properties.Settings.DocSo_PHTConnectionString"
      connectionString="Data Source=192.168.90.8\KD;Initial Catalog=DocSo_PHT;Persist Security Info=True;User ID=sa;Password=123@tanhoa"
      providerName="System.Data.SqlClient" />
   
  </connectionStrings>
  <!--  SERVER9 HP_G7 -->
  <log4net>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="log-file.txt"/>
      <param name="AppendToFile" value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="10MB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%-5p%d{yyyy-MM-dd hh:mm:ss} – %m%n"/>
      </layout>
    </appender>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="LogFileAppender"/>
    </root>
  </log4net>
    <system.windows.forms jitDebugging="true" />
    <userSettings>
        <TanHoaWater.Lib.app>
            <setting name="LocalDriver" serializeAs="String">
                <value>M:</value>
            </setting>
            <setting name="PathShare" serializeAs="String">
                <value />
            </setting>
            <setting name="UserName" serializeAs="String">
                <value />
            </setting>
            <setting name="PassWord" serializeAs="String">
                <value />
            </setting>
            <setting name="FileTemplate" serializeAs="String">
                <value />
            </setting>
            <setting name="LocalSave" serializeAs="String">
                <value />
            </setting>
        </TanHoaWater.Lib.app>
        <TanHoaWater.Lib.Settings1>
            <setting name="FileName" serializeAs="String">
                <value>gfdsgfdsgfdsgfd</value>
            </setting>
        </TanHoaWater.Lib.Settings1>
    </userSettings>
</configuration>
