CREATE VIEW DAT_SEARCH
AS
SELECT dot.SHS,HOTEN, (SONHA +' ' + DUONG ) AS DIACHI, DIENTHOAI,dt.MADOTTC,dt.TENCONGTY,dt.TCNGAY
FROM DON_KHACHHANG dot

LEFT OUTER JOIN
( SELECT kh.SHS, dt.MADOTTC,dv.TENCONGTY,(N'Từ '+ CONVERT(varchar(20),dt.TCTUNGAY,103) +N' đến ' +  CONVERT(varchar(20),dt.TCDENNGAY,103)) AS TCNGAY
  FROM KH_HOSOKHACHHANG kh, KH_DOTTHICONG dt, KH_DONVITHICONG dv
  WHERE kh.MADOTTC=dt.MADOTTC AND dt.DONVITHICONG = dv.ID 
) dt
ON dot.SHS=dt.SHS

