/****** Script for SelectTopNRows command from SSMS  ******/
SELECT *
  FROM [TANHOA_WATER].[dbo].[KH_HOSOKHACHHANG] WHERE RIGHT(DHN_HIEULUC,4)='2014' AND ISNUMERIC(SHS)=1
  
  
  SELECT kh.SHS,kh.DHN_HOTEN,kh.DHN_SONHA+' '+ kh.DHN_DIACHI,kh.MADOTTC,CONVERT(varchar(50),kh.NGAYTHICONG,103),kh.DHN_SODANHBO,kh.HIEUDONGHO,kh.COTLK
  FROM [TANHOA_WATER].[dbo].[KH_HOSOKHACHHANG] kh
  WHERE DHN_SODANHBO IS NOT NULL AND RIGHT(MADOTTC,2)='14' and LEFT(MADOTTC,3)='QTB' 
  AND  ISNUMERIC(SUBSTRING(MADOTTC,5,3))=1 
  ORDER BY MADOTTC ASC
  
  
 SELECT kh.SHS,kh.DHN_HOTEN,kh.DHN_SONHA+' '+ kh.DHN_DIACHI,kh.MADOTTC,CONVERT(varchar(50),kh.NGAYTHICONG,103),kh.DHN_SODANHBO,kh.HIEUDONGHO,kh.COTLK
  FROM [TANHOA_WATER].[dbo].[KH_HOSOKHACHHANG] kh
  WHERE DHN_SODANHBO IS NOT NULL   AND 
  RIGHT(MADOTTC,2)='14' and LEFT(MADOTTC,3)='QTP' 
  AND  ISNUMERIC(SUBSTRING(MADOTTC,5,3))=1 
  ORDER BY SUBSTRING(MADOTTC,5,3) ASC
  
  
  UPDATE KH_HOSOKHACHHANG 
  SET DHN_HOTEN= don.HOTEN
  FROM DON_KHACHHANG don
  where don.SHS=KH_HOSOKHACHHANG.SHS and YEAR(NGAYTHICONG)=2014  and MONTH(NGAYTHICONG)=1
  
  -------------------------------
  
  
  SELECT SUBSTRING(MADOTTC,5,3), kh.SHS,kh.DHN_HOTEN,kh.DHN_SONHA+' '+ kh.DHN_DIACHI,kh.MADOTTC,CONVERT(varchar(50),kh.NGAYTHICONG,103),kh.DHN_SODANHBO,kh.HIEUDONGHO,kh.COTLK
  FROM [TANHOA_WATER].[dbo].[KH_HOSOKHACHHANG] kh
  WHERE DHN_SODANHBO IS NOT NULL AND RIGHT(MADOTTC,2)='15' and LEFT(MADOTTC,3)='QTB' 
  AND  ISNUMERIC(SUBSTRING(MADOTTC,5,3))=1   AND ISNUMERIC(SUBSTRING(MADOTTC,5,3))=1
  ORDER BY MADOTTC ASC
  
  
 SELECT kh.SHS,kh.DHN_HOTEN,kh.DHN_SONHA+' '+ kh.DHN_DIACHI,kh.MADOTTC,CONVERT(varchar(50),kh.NGAYTHICONG,103),kh.DHN_SODANHBO,kh.HIEUDONGHO,kh.COTLK
  FROM [TANHOA_WATER].[dbo].[KH_HOSOKHACHHANG] kh
  WHERE DHN_SODANHBO IS NOT NULL   AND 
  RIGHT(MADOTTC,2)='15' and LEFT(MADOTTC,3)='QTP' 
  AND  ISNUMERIC(SUBSTRING(MADOTTC,5,3))=1   AND ISNUMERIC(SUBSTRING(MADOTTC,5,3))=1
  ORDER BY MADOTTC ASC
  
  
  
   SELECT MADOTTC,COUNT(*)
  FROM [TANHOA_WATER].[dbo].[KH_HOSOKHACHHANG] kh
  WHERE DHN_SODANHBO IS NOT NULL   AND 
  RIGHT(MADOTTC,2)='15' and LEFT(MADOTTC,3)='QTP' 
  AND  ISNUMERIC(SUBSTRING(MADOTTC,5,3))=1   AND ISNUMERIC(SUBSTRING(MADOTTC,5,3))=1
  group by MADOTTC
  ORDER BY MADOTTC ASC
  
  
  